build --define=scala_deps_direct=error
build --define=scala_deps_used=error
build --python_path=/usr/bin/python3
build --strategy=ScalaCheckDeps=worker
build --strategy=ScalaCompile=worker
build --strategy=ScalaFmt=worker

common --incompatible_strict_action_env
common --@rules_scala_annex//rules/scala:scala-toolchain=zinc

run --python_path=/usr/bin/python3

test --python_path=/usr/bin/python3
test --strategy=ScalaCheckDeps=worker
test --strategy=ScalaCompile=worker
test --strategy=ScalaFmt=worker
